<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/js/responsiveslides.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html"; charset="utf8">
		<link rel="stylesheet" href="/css/static.css" type="text/css"/>
		<link rel="stylesheet" href="/css/about.css" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		

	<!--	<script src="js/index.js" type="text/javascript"></ script>-->
		<title>LexieVanSelow</title>
	</head>
	<body>
		<header>
		<div id="user">
		</div>
		</header>
		<div id="user_flyout">
			<div class="top">
				<div id="icon" class="fa fa-user fa-4x"></div>
				</div>
				<ul>
					<li class="signed"><a href="http://localhost/LVS/php/login.php"><span class="fa fa-key"></span> Login</span></a></li>
					<li><a href="\"><span class="fa fa-user-circle"></span>My Page</a></li>
					<li><a href=\"/settings\"><span class=\"fa fa-cog\"></span>Settings</a></li>
					<li><a href=\"http://localhost/LVS/php/user.php\"><span class=\"fa fa-exclamation\"> Admin Page</span></a></li>
					<li><a href="http://localhost/LVS/php/logout.php"><span class="fa fa-sign-out"> Logout</span></a></li>
				</ul>
			</div>
		</div>
			<img class="logo" src="/assets/lexie_van_selow.png" width="300px" height="200px">
			<script>
			$("#user").click(function(e) {
			$("#user_flyout").toggle('medium');
		});
	 		</script>
			<div id="nav_bar">
				<ul id="menu">
					<li id="nav_home"><a href=""><strong>Home</strong></a></li>
					<li id="nav_paintings" class="dropdown">
					<a href="/img_gallery" class="dropbtn">Paintings</a>
						<div class="dropdown-content">
							<a href="#">Commissions</a>
							<a href="#">Sold</a>
							<a href="#">For Sale</a>
						</div> 
					</li>
					<li id="nav_about"><a href="http://localhost/LVS/php/about.php">About</a></li>
					<li id="nav_contact"><a href="#">Contact</a></li>
				</ul>
			</div>
		<div class="divider"></div>
		<div id="content">
			<div id="photo">
				<img src="/uploads/cdr1.jpg">
			</div>
			<div id="statement">
				<h1>Moments can be viewed through rose-colored glasses. In my case, memories can be viewed, remembered and re-invented on the canvas. Vibrant collections of
				color-stories pay homage to the past and present revealing my ideal. I recreate my
				color memory into present snapshots inspired by patterns and bright cohesive color
				palettes that remind me of my Virginia childhood. These present moments are from
				travels with overall positive outlooks, but with very specific inner conflict. By
				visually bringing together personal struggle with the picture perfect, it gives me
				balance in truth and nostalgia. I hope the viewer will only see the masked image I
				portray, in hopes to reflect or take them to their own personal flawless, bucolic and
				seamlessly gleeful memories.</h1>
			</div>
		</div>
	</body>
</html>
